---
import { useStoryblokApi } from '@storyblok/astro'
import Headline from '../components/Headline.astro'
import ArticleCard from '../components/ArticleCard.astro'

const storyblokApi = useStoryblokApi()

const { data } = await storyblokApi.get('cdn/stories/', {
  version: import.meta.env.NETLIFY === 'true' ? 'published' : 'draft',
  starts_with: 'blog',
  is_startpage: false,
})

const articles = data.stories
---

<section class="page-section container">
  <Headline tag="h1">Blog Articles</Headline>
  {
    articles.length ? (
      <div class="grid place-items-center gap-8 md:grid-cols-2 md:gap-12 lg:grid-cols-3">
        {articles?.map((article) => {
          return (
            <ArticleCard article={article.content} slug={article.full_slug} />
          )
        })}
      </div>
    ) : (
      <div>Unfortunately, no articles could be found.</div>
    )
  }
</section>
