---
import { useStoryblokApi } from '@storyblok/astro'
import Headline from '../components/Headline.astro'
import ArticleCard from '../components/ArticleCard.astro'

const storyblokApi = useStoryblokApi()

const { data } = await storyblokApi.get('cdn/stories/', {
  version: 'published',
  starts_with: 'blog',
})

const articles = data.stories.filter((story) => story.is_startpage !== true)
---

<section class="page-section container">
  <Headline tag="h1">Blog Articles</Headline>
  {
    articles && (
      <div class="grid place-items-center gap-8 md:grid-cols-2 md:gap-12 lg:grid-cols-3">
        {articles?.map((article) => {
          return (
            <ArticleCard article={article.content} slug={article.full_slug} />
          )
        })}
      </div>
    )
  }
  {!!articles && <div>Unfortunately, no articles could be found.</div>}
</section>
