---
const { blok } = Astro.props
---

<a
  class="inline-flex tracking-wider bg-primary text-white rounded-lg py-2.5 px-4 transform hover:-translate-y-0.5 transition-all duration-500 hover:shadow-md hover:shadow-primary/30"
  href={'/' + blok.link.cached_url}
  >{blok.label}
</a>
