---
import { storyblokEditable } from '@storyblok/astro'
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro'
import Headline from '../components/Headline.astro'

const { blok, index } = Astro.props

const headlineTag = index === 0 ? 'h1' : 'h2'
---

<section {...storyblokEditable(blok)} class="page-section text-center">
  <Headline tag={headlineTag}>{blok.headline}</Headline>
  <div
    class="container grid grid-cols-4 place-items-center gap-6 lg:grid-cols-6"
  >
    {
      blok.cards?.map((blok) => {
        return <StoryblokComponent blok={blok} />
      })
    }
  </div>
</section>
