---
import { storyblokEditable } from '@storyblok/astro'
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro'
import Headline from '../components/Headline.astro'

const { blok } = Astro.props
---

<section {...storyblokEditable(blok)} class="page-section text-center">
  <Headline>{blok.headline}</Headline>
  <div class='container grid grid-cols-6 gap-6'>
    {
      blok.cards?.map((blok) => {
        return <StoryblokComponent blok={blok} />
      })
    }
  </div>
</section>
