---
const { slug } = Astro.params

const { blok } = Astro.props

const classes = 'font-extrabold hover:text-primary transition-colors duration-500'
---
<a class={slug === blok.link.cached_url.replace('/','') ? 'underline underline-offset-2 decoration-2 decoration-primary ' + classes : classes} href={'/' + blok.link.cached_url}>{blok.label}</a>