---
const currentYear = new Date().getFullYear()
---

<footer>
  <div class='w-full h-[1px] bg-gradient-to-r from-transparent via-stone-300 dark:via-stone-700 to-transparent'></div>
  <div class='container text-center py-6'>
    <p class='links'>
      Built with <a href=''>Storyblok</a>, <a href=''>Astro</a> and <a href=''>Tailwind</a>.<br
        class='md:invisible md:hidden'
      /> Source code available on <a href=''>GitHub</a>.
    </p>
    <ul class='flex flex-col space-y-1 md:space-y-0 md:flex-row justify-center mt-4 text-sm'>
      <li><a href='/legal-notice'>Legal notice</a></li>
      <li><a href='/privacy-policy'>Privacy policy</a></li>
      <li>&copy {currentYear} Manuel Schröder</li>
    </ul>
  </div>
</footer>

<style>
  ul > li {
    @apply md:px-3 md:border-r md:border-zinc-300;
  }
  ul > li:last-child {
    @apply border-0;
  }

  .links a {
    @apply underline underline-offset-2 decoration-2 decoration-primary;
  }
</style>
