---
const currentYear = new Date().getFullYear()
---

<footer>
  <div
    class="w-full h-[1px] bg-gradient-to-r from-transparent via-stone-300 dark:via-stone-700 to-transparent"
  >
  </div>
  <div class="container text-center py-6 leading-loose">
    <p class="links">
      Built with <a href="https://www.storyblok.com/" target="_blank"
        >Storyblok</a
      >, <a href="https://astro.build/" target="_blank">Astro</a> and <a
        href="https://tailwindcss.com/"
        target="_blank">Tailwind CSS</a
      >.<br class="md:invisible md:hidden" /> Source code available on <a
        href="https://github.com/manuelschroederdev/manuelschroeder.dev"
        target="_blank">GitHub</a
      >.
    </p>
    <ul
      class="flex flex-col space-y-2.5 md:space-y-0 md:flex-row justify-center mt-4 text-sm"
    >
      <li><a href="/legal-notice">Legal notice</a></li>
      <li><a href="/privacy-policy">Privacy policy</a></li>
      <li>&copy {currentYear} Manuel Schröder</li>
    </ul>
  </div>
</footer>

<style>
  ul > li {
    @apply md:border-r md:border-zinc-300 md:px-3;
  }
  ul > li:last-child {
    @apply border-0;
  }

  .links a {
    @apply underline decoration-primary decoration-2 underline-offset-2;
  }
</style>
