---
const {href} = Astro.props
---
<a href={href} class="font-bold text-lg underline underline-offset-4 decoration-primary hover:text-primary hover:decoration-black transition-all duration-500 dark:hover:decoration-stone-200"><slot /></a>