---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
const {
  title = 'Home',
  meta_desc = '',
  is_canonical = false,
  canonical_url = '',
} = Astro.props
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="author" content="Manuel Schröder" />
    <meta name="description" content={meta_desc} />
    <title>{title} | Manuel Schröder</title>
    {
      is_canonical && canonical_url && (
        <link rel="canonical" href={canonical_url} />
      )
    }
  </head>

  <body class="pt-32 text-stone-700 dark:text-stone-200 dark:bg-stone-900">
    <Header />
    <slot />
    {is_canonical}
    <Footer />
    <style is:global>
      /* barlow-200 - latin */
      @font-face {
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 200;
        src: local(''), url('../barlow-v12-latin-200.woff2') format('woff2'),
          /* Chrome 26+, Opera 23+, Firefox 39+ */
            url('../barlow-v12-latin-200.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
      }
      /* barlow-regular - latin */
      @font-face {
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        src: local(''), url('../barlow-v12-latin-regular.woff2') format('woff2'),
          /* Chrome 26+, Opera 23+, Firefox 39+ */
            url('../barlow-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
      }
      /* barlow-800 - latin */
      @font-face {
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 800;
        src: local(''), url('../barlow-v12-latin-800.woff2') format('woff2'),
          /* Chrome 26+, Opera 23+, Firefox 39+ */
            url('../barlow-v12-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
      }
      html.no-transitions * {
        -o-transition-property: none !important;
        -moz-transition-property: none !important;
        -ms-transition-property: none !important;
        -webkit-transition-property: none !important;
        transition-property: none !important;
      }
      .page-section:first-of-type {
        @apply pt-0;
      }
      .page-section {
        @apply py-12 md:py-24;
      }
      .page-section + .page-section {
        @apply pt-0;
      }
    </style>

    <script is:inline>
      const theme = (() => {
        // check if theme stored in localStorage
        if (
          typeof localStorage !== 'undefined' &&
          localStorage.getItem('theme')
        ) {
          return localStorage.getItem('theme')
        }
        // check if user prefers dark color scheme
        if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
          return 'dark'
        }
        // else return light theme
        return 'light'
      })() // immediately invoked

      // apply theme class to html
      if (theme === 'light') {
        document.documentElement.classList.remove('dark')
      } else {
        document.documentElement.classList.add('dark')
      }
      window.localStorage.setItem('theme', theme)
    </script>
  </body>
</html>
